.login-title {
    place-self: center;
}

.login-form {
    place-self: center;
    display: grid;
    gap: 1rem;
}

.main-info-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
}

.login-form-label {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    place-items: center;
}

.submit-button {
    place-self: center;
}