.search-form {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.top-row {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.bottom-row {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.search-title {
    place-self: center;
}

.search-item {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 0.5rem;
}

.bottom-row .search-item {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(3, max-content);
    place-items: center;
    gap: 0.5rem;
}

.bottom-row .search-item .search-label-text {
    grid-column: span 3;
}

.bottom-row .search-item .search-item-time {
    grid-row: 2 / 3;
}

.bottom-row .search-item .search-label-hyphen {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.search-button {
    display: grid;
    background: var(--color-bg-1);
}

.no-reservations {
    place-self: center;
}

.page-navigation {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    place-content: center;
}

.navigation-button {
    color: var(--color-accent-1);
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 1rem;
}

.navigation-button:hover {
    text-decoration: underline;
    cursor: pointer;
}