<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>badmintellect</title>
</head>
<body>
    <!-- title -->
    <h1>badmintellect</h1>

    <!-- account management -->
    <p>
        {% if session.user_id %}
        <a href="/logout">Log Out</a>
        {% else %}
        <a href="/register">Sign Up</a> |
        <a href="/login">Sign In</a>
        {% endif %}
    </p>
    
    <h2>Reservations</h2>

    <!-- search -->
    <form action="/search" method="post">
        <p>
            <label for="query">Search...</label>
            <input type="text" name="query"/>
            <input type="submit" value="Submit"/>
        </p>
    </form>

    <!-- list of all reservations -->
    {% if not reservations %}
    <p>The are no reservations at the moment :(</p>
    {% else %}
        {% for reservation in reservations %}
        <p>
            <a href="/reservation/{{ reservation.id }}"> {{ reservation.title }} </a>
        </p>
        {% endfor %}
    {% endif %}

    <!-- add new reservation -->
    {% if session.user_id %}
    <a href="/new-reservation">New reservation</a>
    {% endif %}
</body>
</html>