<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- title -->
    <h1>Login</h1>

    <!-- login -->
    <form action="/login" method="post">
    <p>
        <label for="title">Username</label>
        <input type="text" name="username" required/>
    </p>
    <p>
        <label for="title">Password</label>
        <input type="password" name="password" required/>
    </p>
        <input type="submit" value="Login"/>
    </form>

    <!-- front page -->
    <p>
        <a href="/">Front page</a>
    </p>
  </body>
</html>