<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New reservation</title>
</head>
<body>
    <!-- Title -->
    <h1>Create a new reservation</h1>

    <!-- Form -->
    <form action="/new-reservation" method="post">
        <!-- Required info -->
        <p>
            <label for="title">Title</label>
            <input type="text" name="title" required maxlength="50"/>
        </p>
        <p>
            <label for="start_time">Start time</label>
            <input type="text" name="start_time" required maxlength="25"/>
        </p>
        <p>
            <label for="end_time">End time</label>
            <input type="text" name="end_time" required maxlength="25"/>
        </p>
        <p>
            <label for="place">Place</label>
            <input type="text" name="place" required maxlength="50"/>
        </p>

        <!-- Tags -->
        <h2>Tags</h2>
        {% if not allowed_tags %}
        <p>Unfortunately there are no tags available</p>
        {% else %}
        <p>
            {% for tag in allowed_tags %}
            <input type="checkbox" name="tag" value="{{ tag[0] }}">
            <label for="tag">{{ tag[0] }}</label>
            {% endfor %}
        </p>
        {% endif %}

        <input type="submit" value="Submit"/>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    </form>
</body>
</html>