<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- title -->
    <h1>Sign up</h1>

    <!-- form -->
    <form action="/register" method="post">
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" required maxlength="25"/>
    </p>
    <p>
        <label for="password_1">Password</label>
        <input type="password" name="password_1" required maxlength="64"/>
    </p>
    <p>
        <label for="password_2">Password again</label>
        <input type="password" name="password_2" required maxlength="64"/>
    </p>
    <input type="submit" value="Sign Up"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    </form>
    
    <!-- front page -->
    <p>
        <a href="/">Front page</a>
    </p>
  </body>
</html>