<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove reservation</title>
</head>
<body>
    <!-- title -->
    <h1> {{reservation.title}} </h1>

    <!-- remove -->
    <form action="/remove/{{ reservation.id }}" method="post">
        <label for="">Do you want to remove this reservation?</label>
        <input type="submit" name="remove" value="Remove" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>
    
    <!-- front page -->
    <p>
        <a href="/">Front page</a>
    </p>
</body>
</html>