<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ reservation.title }}</title>
</head>

<body>
    <!-- title -->
    <h1>{{ reservation.title }}</h1>

    <!-- info -->
    <p>Start time: {{ reservation.start_time }} </p>
    <p>End time: {{ reservation.end_time }} </p>
    <p>Place: {{ reservation.place }} </p>

    <!-- tags -->
    <p>
        {% if tags %}
            Tags: 
            {% for tag in tags %}
                {{tag.tag}}
            {% endfor %}
        {% else %}
            No tags
        {% endif %}
    </p>

    <!-- edit -->
    {% if reservation.user_id == session.user_id %}
    <p>
        <a href="/edit/{{ reservation.id }}">Edit</a> |
        <a href="/remove/{{ reservation.id }}">Remove</a>
    </p>
    {% endif %}

    <!-- comments -->
    <h2>Comments</h2>
    <div>
        {% if comments %}
            {% for comment in comments %}
                <p>{{ comment.comment }}</p>
            {% endfor %}
        {% else %}
            No comments
        {% endif %}
    </div>

    <!-- post a comment -->
    {% if session.user_id %}
    <h3>Create a new comment</h3>
    <form action="/reservation/{{ reservation.id }}", method="post">
        <textarea name="comment" id="comment" maxlength="1000" required></textarea>
        <input type="submit" value="Post">
    </form>
    {% endif %}

    <!-- front page -->
    <p>
        <a href="/">Front page</a>
    </p>
</body>
</html>