<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User {{ user.username }}</title>
</head>
<body>
    <h1>User {{ user.username }}</h1>

    <!-- flash -->
    {% for message in get_flashed_messages() %}
    <p>
        <b>{{ message }}</b>
    </p>
    {% endfor %}
    
    <!-- list of all reservations -->
    <h2>Reservations:</h2>

    {% if not reservations %}
    <p>This user has no reservations :(</p>
    {% else %}
        {% for reservation in reservations %}
        <p>
            <a href="/reservation/{{ reservation.id }}"> {{ reservation.title }} </a>
        </p>
        {% endfor %}
    {% endif %}

    <!-- profile picture -->
    {% if user.has_image %}
    <img src="/user/{{ user.username }}/image" alt="profile picture">
    {% endif %}
</body>
</html>